(function(window, $) {
  'use strict';

  $.ajaxSetup({
    async: false
  });

  var Yadda = require('yadda');
  var English = Yadda.localisation.English;
  var FeatureParser = Yadda.parsers.FeatureParser;
  var parser = new FeatureParser(English);
  var loaderFeature = $.get('base/test/features/example.feature').responseText;

  window.initModule = window.module;

  var featuresSpecs = [];
  <% _.forEach(features, function(feature) { %>
  featuresSpecs.push(parser.parse($.get('base/test/features/<%= feature %>').responseText));
  <%  }); %>

  var ctx = {};
  var yadda = new Yadda.Yadda(window.stepsLibrary, {
    ctx: ctx
  });

  Yadda.plugins.mocha.ScenarioLevelPlugin.init();

  features(featuresSpecs, function(feature){
    beforeEach(initModule('imber'));

    scenarios(feature.scenarios, function(scenario) {
      yadda.run(scenario.steps);
    });

    afterEach(inject(function(ipCookie){
      for(var i in ctx){
        delete ctx[i];
      }
      ipCookie.remove('authToken');
    }));
  });

}(window, $));
