(function(window, $) {
  'use strict';

  $.ajaxSetup({
    async: false
  });

  var Yadda = require('yadda');
  var English = Yadda.localisation.English;
  var FeatureParser = Yadda.parsers.FeatureParser;
  var parser = new FeatureParser(English);
  var loaderFeature = $.get('base/test/features/example.feature').responseText;

  window.initModule = window.module;

  var featuresSpecs = [];
  <% _.forEach(features, function(feature) { %>
  featuresSpecs.push(parser.parse($.get('base/test/features/<%= feature %>').responseText));
  <%  }); %>

  var yadda = new Yadda.Yadda(window.stepsLibrary);

  Yadda.plugins.mocha.ScenarioLevelPlugin.init();

  features(featuresSpecs, function(feature){
    scenarios(feature.scenarios, function(scenario, done) {
      yadda.run(scenario.steps, done);
    });
  });

}(window, $));
