// con-rest
// Version: 0.0.1
//
// Author: Andy Tang
// Fork me on Github: https://github.com/EnoF/con-rest
@import (inline) "app/bower_components/angular-material/angular-material.css";
@import (inline) "app/bower_components/angular-material/themes/teal-theme.css";
@import (inline) "app/bower_components/famous-angular/dist/famous-angular.css";

.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.2s ease-in-out;
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.2s ease-in-out;
  transition-property: max-height, background-color, opacity;
}
