<md-list-item>
  <md-icon class="md-avatar"
    md-font-icon="Material-Design-Icons"
    ng-class="{ 'mdi-navigation-check': vm.challenge.started, 'mdi-action-schedule': !vm.challenge.started }">
  </md-icon>
  <p>
    <span>{{ vm.getOpponent().userName }}</span>
    <span ng-if="vm.isInGame()">{{ 'challengeItem.versusYou' | translate }}</span>
    <span ng-if="!vm.isInGame()">{{ 'challengeItem.versus' | translate }} {{ vm.getChallenger().userName }}</span>
  </p>
  <md-button class="md-fab md-primary md-mini"
    aria-label="{{ 'challengeItem.accept' | translate }}"
    ng-disabled="vm.challenge.started || !vm.isInGame()"
    ng-click="vm.accept()">
    <md-icon class="mdi-av-play-arrow font-icon-28"
      md-font-icon="Material-Design-Icons">
    </md-icon>
  </md-button>
  <md-divider ng-if="!$parent.$last"></md-divider>
</md-list-item>
