<md-list-item class="md-2-line">
  <md-icon class="md-avatar"
    md-font-icon="Material-Design-Icons"
    ng-class="{ 'mdi-navigation-check': vm.challenge.started, 'mdi-action-schedule': !vm.challenge.started }">
  </md-icon>
  <div class="md-list-item-text">
    <h3>{{ vm.getOpponent().userName }}</h3>
    <p ng-if="vm.isInGame()">{{ 'challengeItem.versusYou' | translate }}</p>
    <h3 ng-if="!vm.isInGame()">{{ 'challengeItem.versus' | translate }} {{ vm.getChallenger().userName }}</h3>
  </div>
  <md-divider ng-if="!$parent.$last"></md-divider>
</md-list-item>
