<md-whiteframe class="md-whiteframe-z1"
               layout-padding>
  <md-content>
    <h2>Sign up</h2>

    <form novalidate>
      <div layout="column">
        <md-text-float label="email"
                       ng-model="email"
                       required></md-text-float>
        <md-text-float label="user name"
                       ng-model="userName"
                       required></md-text-float>
        <md-text-float label="password"
                       ng-model="password"
                       type="password"
                       required></md-text-float>
      </div>
      <md-button class="md-raised"
                 ng-click="register()">register
      </md-button>
    </form>
  </md-content>
</md-whiteframe>