<!DOCTYPE html>
<html>

<head>
  <title>Imber</title>

  <link rel="stylesheet"
    type="text/css"
    href="https://cdn.rawgit.com/angular/bower-material/master/angular-material.css">

  <!-- Setup Viewport -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body data-ng-app="imber.login-demo">
  <div layout="row"
    ng-controller="Test">
    <md-card flex
      ng-if="!isLoggedIn()">
      <login-form></login-form>
    </md-card>
    <md-card flex
      ng-if="isLoggedIn()">
      <md-content>
        <p>Login was successful!</p>
        <p>Welcome {{ getUserName() }}!</p>
        <md-button ng-click="logout()">logout</md-button>
      </md-content>
    </md-card>
  </div>

  <script src="//localhost:35729/livereload.js"></script>
  <script src="/bower_components/angular/angular.js"
    type="text/javascript"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"
    type="text/javascript"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"
    type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/angular/bower-material/master/angular-material.js"
    type="text/javascript"></script>
  <script src="/bower_components/angular-translate/angular-translate.js"
    type="text/javascript"></script>
  <script src="/js/build.js"
    type="text/javascript"></script>
  <script src="/js/templates.js"
    type="text/javascript"></script>
  <script type="text/javascript">
  angular.module('imber.login-demo', ['imber.login'])
    .controller('Test', function($scope, session) {
      $scope.isLoggedIn = function() {
        return session.isLoggedIn();
      };

      $scope.getUserName = function() {
        return session.getUser().getUserName();
      };

      $scope.logout = function() {
        session.expireAuth();
      };
    });
  </script>
</body>

</html>
