<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="navigation"
            md-is-locked-open="$media('gt-md')"
            layout="column">
  <md-toolbar md-theme="blue-grey">
    <div class="md-toolbar-tools">
      <h1>navigation</h1>
    </div>
  </md-toolbar>
  <md-content layout="column" flex>
    <md-button ng-repeat="item in menu">
      <a href="{{ '#' + item.url }}"
         ng-href="{{ '#' + item.url }}"
         ng-click="hideNavigation()"
         class="menu-item"
         md-ink-ripple="#bbb">{{ item.label }}</a>
    </md-button>
  </md-content>
</md-sidenav>
