<md-toolbar class="md-tall"
  layout-align="end end">
  <div class="md-toolbar-tools">
    <span class="md-display-2">{{ 'login.title' | translate }}</span>
  </div>
</md-toolbar>
<md-card-content>
  <md-content layout-padding>
    <form name="login-form"
      autocomplete="off">
      <md-input-container>
        <label for="user-name">{{ 'login.userName' | translate }}</label>
        <input id="user-name"
          type="text"
          ng-model="vm.userName" />
      </md-input-container>
      <md-input-container>
        <label for="password">{{ 'login.password' | translate }}</label>
        <input type="password"
          id="password"
          ng-model="vm.password" />
      </md-input-container>
      <md-button class="md-raised md-primary"
        ng-click="vm.login()">{{ 'login.submit' | translate }}</md-button>
    </form>
  </md-content>
</md-card-content>
