<md-card>
  <section layout="row" layout-margin>
    <h2 flex>{{ game.getChallenger().getUserName() }} is challenging {{ game.getOpponent().getUserName() }}</h2>
    <md-button ng-if="game.getOpponent().getId() !== loggedInId || game.isStarted()"
               class="md-fab"
               aria-label="launch game"
               ng-click="requestGame()">
      <md-icon icon="/icons/ic_launch_24px.svg"></md-icon>
    </md-button>
    <md-button ng-if="game.getOpponent().getId() === loggedInId && !game.isStarted()"
               class="md-fab"
               aria-label="accept game"
               ng-click="accept()">
      <md-icon icon="/icons/ic_done_24px.svg"></md-icon>
    </md-button>
  </section>
</md-card>
